.c-callout{
  &-primary{
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    p{
      color: $white;
    }
    &:after{
      content: '';
      background-color: $primary;
      width:100%;
      height:100%;
      display: block;
      position:absolute;
      top:10px;
      left:10px;
      z-index:-1;
    }
  }
  &-secondary{
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    color: $dark;
    &:after{
      content: '';
      background-color: $secondary;
      width:100%;
      height:100%;
      display: block;
      position:absolute;
      top:10px;
      left:10px;
      z-index:-1;
    }
  }
  &-tertiary{
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    color: $white;
    &:after{
      content: '';
      background-color: $tertiary;
      width:100%;
      height:100%;
      display: block;
      position:absolute;
      top:10px;
      left:10px;
      z-index:-1;
    }
  }
  &-white{
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    color: $dark;
    &:after{
      content: '';
      background-color: $white;
      width:100%;
      height:100%;
      display: block;
      position:absolute;
      top:10px;
      left:10px;
      z-index:-1;
    }
  }
}