.c-card{
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  img{
    border-radius:3px;
    display:block;
  }

  .c-card-thumbnail{
    overflow:hidden;
    transition: 0.5s ease-out all;
    border-radius:3px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: 0.5s ease-out all;
    }
  }

  &:hover{
    img{
      transform: scale(1.2);
    }
  }
}