.c-event-thumb{
  border: 2px solid $primary;
  border-radius:10px;
  width:100%;
  h2{
    color: $primary;
  }
}

.c-event-pager{
  font-size:20px;
  color: $primary;
  display:flex;
  justify-content: center;
  ul{
    display:flex;
    justify-content: center;
    align-items: center;
    li{
      margin: 0 0.5em;
    }
  }
  a{
    border: 2px solid $primary;
    display:inline-block;
    padding:4.5px 14px;
  }
}

.c-eventcat{
  width:100%;
}

.c-eventcat-all{
  background-color: $primary;
  border: 2px solid $primary;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $primary;
    border: 2px solid $primary;
    background-color:#FFFFFF;
  }
}
.c-eventcat-piep{
  background-color: $secondary;
  border: 2px solid $secondary;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $secondary;
    border: 2px solid $secondary;
    background-color:#FFFFFF;
  }
}
.c-eventcat-jong-klj{
  background-color: $tertiary;
  border: 2px solid $tertiary;
  font-weight:bold;
  color: $primary;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    border: 2px solid $tertiary;
    background-color:#FFFFFF;
  }
}

.c-eventcat-oud-klj{
  background-color: $quarternary;
  border: 2px solid $quarternary;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $quarternary;
    border: 2px solid $quarternary;
    background-color:#FFFFFF;
  }
}

.c-eventcat-plus20{
  background-color: $quinary;
  border: 2px solid $quinary;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $quinary;
    border: 2px solid $quinary;
    background-color:#FFFFFF;
  }
}

.c-eventcat-sportfeesten{
  background-color: $sportfeesten;
  border: 2px solid $sportfeesten;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $sportfeesten;
    border: 2px solid $sportfeesten;
    background-color:#FFFFFF;
  }
}

.c-eventcat-sportfeesten{
  background-color: $sportfeesten;
  border: 2px solid $sportfeesten;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $sportfeesten;
    border: 2px solid $sportfeesten;
    background-color:#FFFFFF;
  }
}

.c-eventcat-kamp{
  background-color: $kamp;
  border: 2px solid $kamp;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $kamp;
    border: 2px solid $kamp;
    background-color:#FFFFFF;
  }
}

.c-eventcat-overig{
  background-color: $overig;
  border: 2px solid $overig;
  font-weight:bold;
  color:#FFFFFF;
  transition: all 0.3s ease-out;
  &.is-active, &:hover{
    color: $overig;
    border: 2px solid $overig;
    background-color:#FFFFFF;
  }
}