.c-highlight{
  position:relative;
  .c-highlight-img{
    position: absolute;
    object-fit: cover;
    top:0;
  }
  .c-highlight-content{
    background-color: #FFFFFF;
    position: absolute;
    z-index:5;
    top:0;
  }
}