.c-section{
  position:relative;
  &-primary{
    position:relative;
    background-color: $primary;
    h1, h2, h3, h4, p{
      color: $white;
    }
  }
  &-secondary{
    position:relative;
    background-color: $secondary;
  }
  &-tertiary{
    position:relative;
    background-color: $tertiary;
  }
  &-dark{
    position:relative;
    background-color: $dark;
  }
  &-white{
    position:relative;
    background-color: $white;
  }
  &-light{
    position:relative;
    background-color: $light;
  }
}