.c-services{
  position: relative;

  .c-icon{
    width: 75px;
    height: 75px;
  }

  .c-services-left{
    color: $white;
    h3{
      color: $white;
    }
    .c-icon{
      fill: $secondary;
    }
  }
  .c-services-right{
    .c-icon{
      fill: $primary;
    }
  }
}