.c-triangle-top {
  &-primary {
    margin-top: 50px;
    @include media-query(lg) {
      margin-top: 150px;
    }

    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10%;
      width: 0;
      height: 0;

      top: -50px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid $primary;

      @include media-query(lg) {
        top: -100px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 100px solid $primary;
      }
    }
  }
  &-secondary {
    margin-top: 50px;
    @include media-query(lg) {
      margin-top: 150px;
    }

    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10%;
      width: 0;
      height: 0;

      top: -50px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid $secondary;

      @include media-query(lg) {
        top: -100px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 100px solid $secondary;
      }
    }
  }
  &-tertiary {
    margin-top: 50px;
    @include media-query(lg) {
      margin-top: 150px;
    }

    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10%;
      width: 0;
      height: 0;

      top: -50px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid $tertiary;

      @include media-query(lg) {
        top: -100px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 100px solid $tertiary;
      }
    }
  }
}

.c-triangle-bottom {
  &-primary {
    margin-top: 30px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 10%;
      width: 0;
      height: 0;
      top: 100%;

      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid $primary;

      @include media-query(lg){
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 100px solid $primary;
      }

    }
  }
  &-secondary {
    margin-top: 30px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 10%;
      width: 0;
      height: 0;

      top: 100%;

      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid $secondary;

      @include media-query(lg){
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 100px solid $secondary;
      }
    }
  }
  &-tertiary {
    margin-top: 30px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 10%;
      width: 0;
      height: 0;

      top: 100%;

      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid $tertiary;

      @include media-query(lg){
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 100px solid $tertiary;
      }
    }
  }
}