.c-usp-wrapper {
  position: relative;
  .g-container {
    position: relative;
    z-index: 5;
  }

  .c-usp {
    display: block;
    text-align: center;
    background-color: $white;
    height: 100%;
    position: relative;
    border: 3px solid $primary;
    border-radius: $border-radius;
    &:after {
      content: "";
      width: 25px;
      height: 25px;
      display: block;
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
      background-color: #ffffff;
      border-radius: $border-radius;
      border-top: 3px solid $primary;
      border-right: 3px solid $primary;
    }
    img {
      width: auto;
      height: 80px;
      margin: 0 auto 1em auto;
    }
  }
}
