.c-button {
	display: inline-block;
	padding: 0.625em 1.125em;
	background-color: $light;
	border-radius: $border-radius;
	transition: all 0.3s ease;
	font-weight: bold;
	text-decoration: none !important;
	text-align: center;
	@include interpolate(font-size, map-get($breakpoints, xs), map-get($breakpoints, xl), 1.1rem, 1.2rem);
	cursor: pointer;
	&:hover {
		background-color: darken($light, 5%);
	}
}

.mCCF--dark .mCCF__accept {
	background-color: $primary;
	color: #ffffff;

	&:hover {
		background-color: darken($primary, 5%);
	}
}

.c-button-primary {
	background-color: $primary;
	text-decoration: none !important;
	transition: all 0.3s ease;
	border-radius: 30px;
	&:hover {
		background-color: darken($primary, 10%); 
	}
}

.c-button-primary-ghost {
	background-color: transparent;
	border: 2px solid $primary;
	color: $primary;
	text-decoration: none !important;
	transition: all 0.3s ease;
	&:hover {
		border-color: darken($primary, 10%);
		color: darken($primary, 10%);
		background-color: transparent;
	}
}

.c-button-secondary {
	background-color: $secondary;
	color: #000000;
	text-decoration: none !important;

	&:hover {
		background-color: darken($secondary, 10%);
	}
}

.c-button-tertiary {
	background-color: $tertiary;
	color: $white;
	text-decoration: none !important;

	&:hover {
		background-color: darken($tertiary, 10%);
	}
}

.c-button-quarternary {
	background-color: $quarternary;
	color: $white;
	text-decoration: none !important;

	&:hover {
		background-color: darken($quarternary, 10%);
	}
}
