.fx-end{
    @include media-query(lg){
        opacity:1;
        transition: all 0.8s ease-out !important;
        margin-top: 0;
    }
}

.fx{
    @include media-query(lg){
        opacity:0;
        margin-top: 50px;
    }
}