.wp-block-kleurcode-core-faq {
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;

    @each $bp in map-keys($breakpoints) {
        @include media-query($bp) {
            max-width: map-get($breakpoints, $bp);
        }
    }

    .c-faq-item {
        background-color: $white;
        margin-bottom: 1em;
        width: 100%;
        display: block;
        border: 1px solid $primary;
    }
    .c-faq-item-title {
        padding: 1em 1.6em;
        cursor: pointer;
        background-color: $white;
        transition: all 0.3s ease-out;
        
        .c-icon {
            fill: $primary;
            transition: all 0.3s ease-out;
            width: 20px;
            height: 20px;
        }
        h4 {
            color: $dark;
            margin-bottom: 0;
            transition: all 0.3s ease-out;
        }
        &.c-faq-item-active {
            background-color: $primary;
            .c-icon {
                transform: scaleY(-1);
                fill: $white;
            }
            h4 {
                color: $white;
            }
        }
    }
    .c-faq-item-content {
        padding: 1.6em;
        display: none;
    }
}
