.c-pagination {
  a {
    transition: all 0.3s ease-out;
    color: $dark;
    border-bottom: 2px solid $primary;
    padding-bottom: 10px;
    font-weight: bold;
    &:last-child{
      margin-left: 50px;
    }
  }
}