.c-thumb-wrapper {
  &-primary {
    position: relative;
    &::after {
      content: "";
      border:2px solid $white;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 0;
    }
    h1, h2, h3 {
      color: $white;
    }
  }
  &-secondary {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      border:2px solid $primary;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
    }
    h1, h2, h3 {
      color: $dark;
    }
  }

  &-tertiary {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      border: 2px solid $secondary;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
    }
    color: $white;
    h1, h2, h3 {
      color: $white;
    }
  }
  &-white {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      border:2px solid $primary;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
    }
    h1, h2, h3 {
      color: $white;
    }
  }
  &-dark {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      border:2px solid $primary;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
    }
    h1, h2, h3 {
      color: $white;
    }
  }
}

.c-thumb{
  &-primary{
    position: relative;
    color: $white;
    z-index: 1;
    background-color: $primary;
    border: $secondary 2px solid;
  }
  &-secondary{
    color: $dark;
    position: relative;
    background-color: $secondary;
    z-index: 1;
    border: $primary 2px solid;
  }
  &-tertiary{
    position: relative;
    background-color: $tertiary;
    border: $secondary 2px solid;
    z-index: 1;
  }
  &-white{
    position: relative;
    background-color: $white;
    color: $dark;
    border: $secondary 2px solid;
    z-index: 1;
  }
  &-dark{
    position: relative;
    background-color: $dark;
    color: $white;
    border: $secondary 2px solid;
    z-index: 1;
  }
}

.c-thumb-home {
  margin-top: -50px;
  @include media-query(md) {
    margin-top: -150px;
  }
}