@charset "UTF-8";

/* -------------------- FONT IMPORTS -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=PT+Sans:wght@400;700&display=swap');

/* -------------------- GRID SETTINGS -------------------- */

$columns: 12;
$gutter: 16/16 * 1rem;

$breakpoints: (
        xs: 480/16 * 1rem,
        sm: 640/16 * 1rem,
        md: 960/16 * 1rem,
        lg: 1024/16 * 1rem,
        xl: 1140/16 * 1rem,
        xxl: 1280/16 * 1rem,
);

// SPACING
$spacing: (
        auto: auto,
        none: 0/16 * 1rem,
        xs: 8/16 * 1rem,
        sm: 16/16 * 1rem,
        md: 24/16 * 1rem,
        lg: 32/16 * 1rem,
        xl: 40/16 * 1rem,
        xxl: 80/16 * 1rem,
        xxxl: 120/16 * 1rem,
);

/* -------------------- BRAND COLOURS -------------------- */

//$primary: #BE375F;
$primary: #fff265;
$secondary: #f5eb6d;
$tertiary: #ff9966;
$quarternary: #5f236b;

$dark: #333333;
$dark-grey: #0f0f0f;
$medium: #333333;
$grey: #cccccc;
$light: #f9f9f9;
$white: #ffffff;

$border-radius: 3px;

/* -------------------- FONT FAMILY VARIABLES -------------------- */

$font-family-main: 'PT Sans', sans-serif;
$title-font: "Abel", sans-serif;

/* -------------------- FONT SIZES -------------------- */

// TYPOGRAPHY
$base-font-family: $font-family-main;
$base-font-size-min: 1rem;
$base-font-size-max: 1rem;
$base-font-weight: normal;
$base-line-height: 1.8;
$base-color: $dark;

$h1-font-family: $title-font;
$h1-font-size-min: 2.2rem; 
$h1-font-size-max: 3.6rem;
$h1-font-weight: bold;
$h1-line-height: 1.8;
$h1-color: $dark;

$h2-font-family: $title-font;
$h2-font-size-min: 1.8rem;
$h2-font-size-max: 2rem;
$h2-font-weight: bold;
$h2-line-height: 1.4;
$h2-color: $dark;

$h3-font-family: $title-font;
$h3-font-size-min: 1.3rem;
$h3-font-size-max: 1.55rem;
$h3-font-weight: bold;
$h3-line-height: 1.4;
$h3-color: $dark;

$h4-font-family: $title-font;
$h4-font-size-min: 1.2rem;
$h4-font-size-max: 1.3rem;
$h4-font-weight: bold;
$h4-line-height: 1.4;
$h4-color: $dark;

$h5-font-family: $font-family-main;
$h5-font-size-min: 1.15rem;
$h5-font-size-max: 1.375rem;
$h5-font-weight: 400;
$h5-line-height: 1.4;
$h5-color: $dark;

$h6-font-family: $font-family-main;
$h6-font-size-min: 1.15rem;
$h6-font-size-max: 1.4rem;
$h6-font-weight: 400; 
$h6-line-height: 1.375;
$h6-color: $dark;
