/* -------------------------------------------------------
---------------------- MAIN CSS FILE ---------------------
---------- ALL CSS SHOULD BE IMPORTED HERE -----------
------------------------------------------------------- */

.grecaptcha-badge {
    display: none;
}

/* -------------------- PROJECT MAINS -------------------- */

@import "variables";
@import "grid/mixins";
@import "grid/functions";

@import "grid/reset";
@import "grid/base";

/* -------------------- VENDOR IMPORTS -------------------- */

.g-body {
    @import "vendor/aos/aos";
}

/* -------------------- GRID IMPORTS -------------------- */

@import "grid/body";
@import "grid/display";
@import "grid/flex";
@import "grid/grid";
@import "grid/container";
@import "grid/spacing";
@import "grid/main";
@import "grid/breakout";

/* -------------------- PARTIALS IMPORTS -------------------- */

@import "partials/nav";
@import "partials/hero";
@import "partials/header";
@import "partials/footer";

/* -------------------- COMPONENTS IMPORTS -------------------- */

@import "components/card";
@import "components/callout";
@import "components/colors";
@import "components/cookies"; 
@import "components/buttons";
@import "components/faq";
@import "components/highlight";
@import "components/images";
@import "components/slick-theme";
@import "components/slick";
@import "components/usp";
@import "components/slider";
@import "components/thumbs";
@import "components/section";
@import "components/triangle";
@import "components/pagination";
@import "components/services";
@import "components/forms";
@import "components/icons";
@import "components/trigger";
@import "components/fade";

/* -------------------- ELEMENTS IMPORTS -------------------- */
@import "elements/lists";
@import "elements/headings";
@import "elements/text";

/* -------------------- LAYOUTS IMPORTS -------------------- */

@import "layouts/portfolio";
@import "layouts/cooperate";
@import "layouts/contact";

/* -------------------- UTILITIES IMPORTS -------------------- */
@import "utilities/background";
@import "utilities/images";

/* -------------------- BLOCKS IMPORTS -------------------- */
@import "blocks/blocks";
@import "blocks/buttons";
@import "blocks/columns";
@import "blocks/colors";
@import "blocks/contact";
@import "blocks/counter";
@import "blocks/background-colors";
@import "blocks/core-button";
@import "blocks/group";
@import "blocks/header";
@import "blocks/image";
@import "blocks/parallax";
@import "blocks/title-text";
@import "blocks/separator";
@import "blocks/table";
@import "blocks/tabs";
@import "blocks/utilities";
@import "blocks/video";

/* -------------------- EDITOR IMPORTS -------------------- */

@import "editor/editor";
 