.p-footer {
	background-color: $white;
	border-top: 1px solid $primary;
	.p-footer-logo {
		width: 150px;
		height: auto;
		display: block;
	}
	h4,
	p {
		color: $dark;
	}

	a {
		color: $dark;
		transition: all 0.3s ease-out;
		&:hover,
		&.active {
			color: $primary;
		}
		.c-icon {
			fill: $dark;
			width: 30px;
			height: 30px;
			transition: all 0.3s ease-out;
			&:hover {
				fill: $primary;
			}
		}

		&.p-footer__phone {
			margin-bottom: 0.8rem;
			&:hover {
				text-decoration: underline;
				color: $dark;
				.c-icon {
					fill: $dark;
				}
			}
			.c-icon {
				width: 20px;
				height: 20px;
			}
		}
	}
}

.p-footer-sub {
	background-color: $dark-grey;
	p {
		margin: 0;
	}
	a,
	p {
		color: $white;
	}
}
