.p-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	.p-header-img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			
			@include media-query(lg){
				object-fit: cover;
			}
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}

	figure {
		width: 100%;
		height: 100%;
		//overflow: hidden;

		figcaption {
			z-index: 5;
		}

		.p-header-content {
			width: 100%;
		}

		h1 {
			font-weight: normal;

			em {
				font-style: normal;
				color: $primary;
			}
			span {
				color: $primary;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}
 