/*
 * HERO
 */

 .c-hero {
  position: relative;
  display: flex; 
  width: 100%;
  justify-content: center;
  height: 700px;
  &:before{
    content:'';
    position: absolute;
    right:0;
    top:20%;
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid $secondary;
    @include media-query(lg){
      border-top: 120px solid transparent;
      border-bottom: 120px solid transparent;
      border-right: 120px solid $secondary;
    }
    
    z-index: 5;
  }
  &:after{
    content:'';
    position: absolute;
    right:0;
    top:35%;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid $primary;
    @include media-query(lg){
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    border-right: 120px solid $primary;
    }
  }

  overflow: hidden;
  background-color: $light;

  figure {
    width: 100%;
    height: 100%;
    //overflow: hidden;
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  .c-hero-content {
    h1{
      color: $white;
    }
    color: $white;
    .c-icon{
      fill: $secondary;
    }
  }
}
