.g-body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: $white;
  -webkit-transition: margin-left .3s ease-out;
  transition: margin-left .3s ease-out;
}