/*
 * DISPLAY
 */

// BLOCK
.g-block{
  display: block;

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      &-#{$bp}{
        display: block;
      }
    }
  }
}

// INLINE BLOCK
.g-inline-block{
  display: inline-block;

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      &-#{$bp}{
        display: inline-block;
      }
    }
  }
}

// INLINE
.g-inline{
  display: inline;

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      &-#{$bp}{
        display: inline;
      }
    }
  }
}

// NONE
.g-none{
  display: none;

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      &-#{$bp}{
        display: none;
      }
    }
  }
}