/*
 * FLEXBOX
 */

// DISPLAY
.g-flex {
  display: flex;
  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        display: flex !important;
      }
    }
  }
}

.o-inline-flex {
  display: inline-flex;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        display: inline-flex !important;
      }
    }
  }
}

// GROW/SHRINK
.g-flex-grow {
  flex: 1 0 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 1 0 auto !important;
      }
    }
  }
}

.g-flex-shrink {
  flex: 0 1 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 0 1 auto !important;
      }
    }
  }
}

.g-flex-auto {
  flex: 1 1 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 1 1 auto !important;
      }
    }
  }
}

// WRAP
.g-flex-wrap {
  flex-wrap: wrap;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-wrap: wrap !important;
      }
    }
  }
}

.g-flex-wrap-reverse {

  flex-wrap: wrap-reverse;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-wrap: wrap-reverse !important;
      }
    }
  }
}

.g-flex-nowrap {
  flex-wrap: nowrap;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-wrap: nowrap !important;
      }
    }
  }
}

// DIRECTION


.g-flex-row-reverse {
  flex-direction: row-reverse;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-direction: row-reverse !important;
      }
    }
  }
}

.g-flex-column {
  flex-direction: column;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-direction: column !important;
      }
    }
  }
}

.g-flex-row {
  flex-direction: row;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-direction: row !important;
      }
    }
  }
}

.g-flex-column-reverse {
  flex-direction: column-reverse;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex-direction: column-reverse !important;
      }
    }
  }
}

// JUSTIFY
.g-flex-justify-content-start {
  justify-content: flex-start;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        justify-content: flex-start !important;
      }
    }
  }
}

.g-flex-justify-content-end {
  justify-content: flex-end;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        justify-content: flex-end !important;
      }
    }
  }
}

.g-flex-justify-content-center {
  justify-content: center;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        justify-content: center !important;
      }
    }
  }
}

.g-flex-justify-content-around {
  justify-content: space-around;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        justify-content: space-around !important;
      }
    }
  }
}

.g-flex-justify-content-between {
  justify-content: space-between;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        justify-content: space-between !important;
      }
    }
  }
}

.g-flex-justify-content-evenly {
  justify-content: space-evenly;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        justify-content: space-evenly !important;
      }
    }
  }
}

// ALIGN CONTENT
.g-flex-align-content-start {
  align-content: flex-start;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-content: flex-start !important;
      }
    }
  }
}

.g-flex-align-content-end {
  align-content: flex-end;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-content: flex-end !important;
      }
    }
  }
}

.g-flex-align-content-center {
  align-content: center;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-content: center !important;
      }
    }
  }
}

.g-flex-align-content-stretch {
  align-content: stretch;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-content: stretch !important;
      }
    }
  }
}

.g-flex-align-content-around {
  align-content: space-around;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-content: space-around !important;
      }
    }
  }
}

.g-flex-align-content-between {
  align-content: space-between;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-content: space-between !important;
      }
    }
  }
}

// ALIGN ITEMS
.g-flex-align-items-start {
  align-items: flex-start;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-items: flex-start !important;
      }
    }
  }
}

.g-flex-align-items-end {
  align-items: flex-end;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-items: flex-end !important;
      }
    }
  }
}

.g-flex-align-items-stretch {
  align-items: stretch;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-items: stretch !important;
      }
    }
  }
}

.g-flex-align-items-center {
  align-items: center;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-items: center !important;
      }
    }
  }
}

.g-flex-align-items-baseline {
  align-items: baseline;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        align-items: baseline !important;
      }
    }
  }
}

// FLEX
.g-flex-1-1-auto {
  flex: 1 1 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 1 1 auto !important;
      }
    }
  }
}

.g-flex-0-0-auto {
  flex: 0 0 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 0 0 auto !important;
      }
    }
  }
}

.g-flex-1-0-auto {
  flex: 1 0 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 1 0 auto !important;
      }
    }
  }
}

.g-flex-0-1-auto {
  flex: 0 1 auto;

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        flex: 0 1 auto !important;
      }
    }
  }
}

.g-flex-order {
  @for $i from 1 to $columns {
    &-#{$i} {
      order: $i;
    }
  }

  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      @for $i from 1 to $columns {
        &-#{$i}-#{$bp} {
          order: $i;
        }
      }
    }
  }
}