.wp-block {
    max-width: 1140px;
}

.block-editor-block-list__layout {
    .wp-block-kleurcode-core-title-text {
        padding: 20px;
        border: 1px solid #cccccc;
    }
    .wp-block-kleurcode-core-image-text {
        padding: 20px;
        border: 1px solid #cccccc;
    }
}

.block-editor-block-list__layout {
    .wp-block-kleurcode-core-faq {
        border: 1px solid #f22f6a;
        h4 {
            background-color: #f22f6a;
            color: #ffffff;
            padding: 20px;
            margin: 0;
        }

        p {
            padding: 20px;
            margin: 0;
        }
    }
}

.wp-core-ui {
    select {
        border: 1px solid $dark;
    }
}

.has-light-color {
    color: $white;
}

.has-yellow-to-pink-gradient-background {
    background-image: linear-gradient(315deg, $primary 0%, $tertiary 74%);
}

.has-pink-to-yellow-gradient-background {
    background-image: linear-gradient(315deg, $tertiary 0%, $primary 74%);
}

.has-orange-to-purple-gradient-background {
    background: linear-gradient(90deg, rgba(237, 133, 84, 1) 0%, rgba(95, 35, 107, 1) 100%);
}

p{
    font-family: $font-family-main;
}