
.has-primary-background-color {
    background-color: $primary;
}

.has-secondary-background-color {
    background-color: $secondary;
}

.has-tertiary-background-color {
    background-color: $tertiary;
}

.has-quarternary-background-color {
    background-color: $quarternary;
}

.has-dark-background-color {
    background-color: $dark;
}

.has-grey-background-color {
    background-color: $grey;
}

.has-light-background-color {
    background-color: $light;
}

a.has-light-background-color{
    &:hover{
        background-color: darken($primary, 30%);
    }
}

/**
gradient colors
*/

.has-yellow-to-pink-gradient-background {
    background-image: linear-gradient(315deg, $primary 0%, $tertiary 74%);
}

.has-pink-to-yellow-gradient-background {
    background-image: linear-gradient(315deg, $tertiary 0%, $primary 74%);
}

.has-orange-to-purple-gradient-background {
    background: linear-gradient(90deg, rgba(237, 133, 84, 1) 0%, rgba(95, 35, 107, 1) 100%);
}

/**
text colors
*/

.has-light-color {
    color: $white;
}

.has-primary-color {
    color: $primary;
}
