.wp-block-columns {
    .wp-block-column {
        &.is-style-border{
            &.has-primary-background-color{
                background-color: transparent !important;
                border: 1px solid $primary;
                padding: 1rem;
            }
        }
    }
}
