.wp-block-contact-form-7-contact-form-selector{
    width: 100%;

    .wpcf7-form-control{
        border: $dark;
    }

    .wpcf7-select{
        padding: 10px;
        border: 1px solid $dark;
    }
}