.wp-block-image {

    .components-resizable-box__container{
        max-width: 100% !important;
        height: auto !important;
    }

    &.is-style-full{
        width: 100%;
        height: auto;
        div{
            width: 100% !important;
            height: auto;
            img{
                width: 100%; 
                height: auto;
            }
        }
    }
}

figure.wp-block-image:not(.wp-block){
    margin: initial;
}