/*
 * NAVIGATION
 */

.body-overflow {
	height: 100%;
	overflow: hidden;

	.p-nav {
		position: fixed;
		overflow-y: scroll;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $white;
		z-index: 100;
		height: auto;
		display: flex;
		flex-direction: column;

		.p-nav__top{
			border-bottom: 1px solid $dark;
		}

		.p-nav-main {
			display: flex;
			width: 100%;

			ul {
				width: 100%;
				li {
					width: 100%;
				}
			}

			.p-nav-button-title {
				font-size: 1.5rem;
				padding: 0.8em;
				color: $dark;
				&.active {
					color: $dark;
				}
				&:after{
					transition: none;
				}
			}
		}

		.p-nav-toggle {
			span:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}

			span:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			span:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			span:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}
	}
}

.p-nav {
	//background-color: $white;
	position: relative;
	z-index: 50;
	border-bottom: 1px solid $light;

	&__bandeau{
		width: 100%;
		height: 20px;
		display: block;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__sub{ 
		background-color: $dark;
		padding: 0.6rem 0;
		p{
			color: $white;
			display: inline-block;
			margin: 0;
			font-size: 0.9rem;
			line-height: 1;
		}
		a{
			color: $white;
			font-size: 0.9rem;
			display: inline-block;
			line-height: 1;
			font-weight: bold;
			
		}
		.c-icon{
			width: 14px;
			height: 14px;
			fill: $primary;
			margin-right: 0.5rem;
		}
	}

	.p-nav-logo {
		display: block;
		width: 125px;
		height: auto;
	}

	.p-nav-toggle {
		width: 30px;
		height: 25px;
		position: relative;

		@include media-query(xl) {
			margin: 25px 0;
		}

		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: $primary;
			border-radius: 9px;
			opacity: 1;
			left: 0;

			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
		}

		span:nth-child(1) {
			top: 0px;
		}

		span:nth-child(2),
		span:nth-child(3) {
			top: 10px;
		}

		span:nth-child(4) {
			top: 20px;
		}
	}

	.p-nav-main {
		button {
			background-color: $white;
			.c-icon {
				transition: all 0.5s ease-out;
			}
			&:focus {
				outline: 0;
			}
		}
		.p-nav-button-title {
			transition: color 0.4s ease-out;
			appearance: none;
			border: none;
			font-weight: bold;
			display: block;
			color: $dark;
			font-family: $title-font;

			&:after {
				content: "";
				height: 2px;
				width: 0;
				opacity: 0;
				background-color: $primary;
				margin: 0 auto;
				display: block;
				transition: all 0.3s ease-out;
			}

			@include interpolate(font-size, map-get($breakpoints, xs), map-get($breakpoints, xl), 1.5rem, 1.3rem);

			.c-icon {
				transition: all 0.3s ease-out;
				display: none;
				fill: $primary;
				@include media-query(xl) {
					display: inline-block;
				}
			}

			&:hover,
			&.active {
				&:after {
					width: 100%;
					opacity: 1;
				}
				.c-icon {
					fill: $primary;
				}
			}
		}

		li {
			list-style-type: none;

			@include media-query(xl) {
				&:not(:first-child) {
					margin-left: 3rem;
				}
			}
		}
	}
}
