.l-contact {
  position: relative;
}

.l-contact-map {
  iframe { 
    max-width: 100%;
    width: 100%;
    height: 400px;
    display: block;
    filter: brightness(105%) contrast(105%) saturate(0%) blur(0px) hue-rotate(0deg);
  }
}
