/*  ------------------------------------------------------------
---------------------- COOPERATE STYLING -----------------------
------------------------------------------------------------ */

.l-cooperate{
  background-color: $primary;
  h2, h3{
    color: $white;
  }
}