/*  ------------------------------------------------------------
---------------------- PORTFOLIO STYLING -----------------------
------------------------------------------------------------ */

.l-portfolio {
	position: relative;

	.l-portfolio-thumbnail {
		width: 100%;
		height: auto;
		display: block;

		@include media-query("lg") {
			width: 33.33%;
		}
	}

	.l-portfolio-item {
		display: block;
		padding: 5px;
		//position: relative;
		transition: all 0.3s ease-out;

		&:hover {
			opacity: 0.8;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}

		.l-portfolio-thumbnail-content {
			position: absolute;
			bottom: 30px;
			left: 30px;
			display: block;
			max-width: 80%;
		}

		.l-portfolio-thumbnail-btn {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			cursor: pointer;
		}
	}
}

.wp-block-kleurcode-core-recent-cases, .wp-block-kleurcode-core-select-cases {
	.js-masonry {
		display: flex;
		flex-wrap: wrap;
		.l-portfolio-item {
			position: relative;
		}
	}
}
