.thumb__event{
  max-height:200px;
  overflow:hidden;
  height:500px;

  img{
    height:100%;
    width:100%;
    object-fit: cover;
  }
}

.event__date{
  display:inline-block;
  background-color: $brand-secondary;
  padding:10px;
  color:$white;
  width:auto;
  margin:0;
}

body {overflow-x:hidden;}
.loaded_content_wrapper {
  overflow:hidden;
  margin-left:100%;
  width:100%;
  position:absolute;
}