.g-breakout-right {
  
  
  @include media-query(xl){
    width: 100vw;
    position: relative;
    right: 0;
    margin-right: 0;
    
    img{
      height: auto;
    }
  }
  
  @each $bp in map-keys($breakpoints) {
    @include media-query($bp) {
      &-#{$bp} {
        width: 100vw;
        position: relative;
        right: 0;
        margin-right: 0;
      }
    }
  }
}

.g-breakout-img {
  @include media-query(xl) {
    width: 48%;
    position: relative;
    display: block;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 7%;
      left: 4%;
      display: block;
      background-color: $secondary;
      z-index: -1;
    }
  }
  
  &-right {
    width: 100%;
    @include media-query(xl) {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      &:after {
        content: none;
      }
    }
  }
}
