.wp-block-buttons{
    display: flex;
}

.wp-block-button{
    &__link{
    display: inline-block;
	padding: 0.625em 1.125em;
	background-color: $light;
	transition: all 0.3s ease;
	font-weight: bold;
	text-decoration: none !important;
	text-align: center;
    border-radius: 30px;
	font-family: $title-font;
	@include interpolate(font-size, map-get($breakpoints, xs), map-get($breakpoints, xl), 1.1rem, 1.2rem);
	cursor: pointer;
	&:hover {
		background-color: darken($light, 5%);
	}
}
} 