.wp-block-columns {
    display: flex;
    flex-direction: column;

    @include media-query(lg) {
        flex-direction: row;
    }

    .wp-block-column {
        z-index: 5;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include media-query(lg) {
            &:not(:first-child) {
                margin-left: 4rem;
            }
        }

        > *{
            width: 100%;
        }

        &.is-vertically-aligned-center{
            justify-content: center;
        }
    }
}
