.has-primary-color{
    color: $primary;
}

.has-secondary-color{
    color: $secondary;
}

.has-tertiary-color{
    color: $tertiary;
}

.has-quarternary-color{
    color: $quarternary;
}

.has-light-color{
    color: $light;
}

.has-dark-color{
    color: $dark;
}