.wp-block-button__link{

    font-weight: bold;
    transition: all 0.3s ease-out;

    &.has-primary-color{
        color: $primary;
    }
    
    &.has-secondary-color{
        color: $secondary;
    }
    
    &.has-tertiary-color{
        color: $tertiary;
    }
    
    &.has-quarternary-color{
        color: $quarternary;
    }
    
    &.has-light-color{
        color: $light;
    }
    
    &.has-dark-color{
        color: $dark;
    }

    &.has-light-background-color{
        &:hover{
            background-color: darken($light, 5%);
        }
    }

    &.has-primary-background-color{
        &:hover{
            background-color: darken($primary, 10%);
        }
    }
    &.has-secondary-background-color{
        &:hover{
            background-color: darken($secondary, 10%);
        }
    }
    &.has-tertiary-background-color{
        &:hover{
            background-color: darken($tertiary, 10%);
        }
    }
    &.has-quarternary-background-color{
        &:hover{
            background-color: darken($quarternary, 10%);
        }
    }
    &.has-dark-background-color{
        &:hover{
            background-color: darken($dark, 10%);
        }
    }
    &.has-grey-background-color{
        &:hover{
            background-color: darken($grey, 10%);
        }
    }

  
}