.c-counter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

    .c-counter-placeholder{
        display:none;
    }
    .c-counter-number, .c-counter-text {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0;
        text-align: center;
    }
    .c-counter-text {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 0;
        text-align: center;
    }
    .c-counter-icon {
        height: 80px;
        width: auto;
        display: block;
        margin-bottom: 1.5rem;
    }
}
