/*
 * HEADER
 */

.p-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&.p-header-wrapper {
		 
		overflow: hidden;

		&.p-header-wrapper-xs {
			min-height: 200px;
		}

		&.p-header-wrapper-s {
			min-height: 300px;
		}

		&.p-header-wrapper-m {
			min-height: 400px;
		}

		&.p-header-wrapper-l {
			min-height: 600px;
		}
	}

	&.p-header-opacity{
		.p-header-img{
			opacity: 0.2;
		}
	}

	&.p-header-neg {
		margin-top: -109px; 
		padding-top: 150px;
	}

	&.p-header-white {
		background-color: $white;
	}
	
	&.p-header-light {
		background-color: $light;
	}
	
	&.p-header-primary {
		background-color: $primary;
	}
	
	&.p-header-secondary {
		background-color: $secondary;
	}
	
	&.p-header-tertiary {
		background-color: $tertiary;
	}
	
	&.p-header-quarternary {
		background-color: $quarternary;
	}
	
	&.p-header-primary-secondary {
		background: rgb(242, 47, 106);
		background: linear-gradient(90deg, rgba(242, 47, 106, 1) 0%, rgba(255, 194, 76, 1) 100%);
	}
	
	&.p-header-secondary-primary {
		background: rgb(255, 194, 76);
		background: linear-gradient(90deg, rgba(255, 194, 76, 1) 0%, rgba(242, 47, 106, 1) 100%);
	}
	
	&.p-header-tertiary-quarternary {
		background: rgb(237, 133, 84);
		background: linear-gradient(90deg, rgba(237, 133, 84, 1) 0%, rgba(95, 35, 107, 1) 100%);
	}
	
	&.p-header-quarternary-tertiary {		
		background: rgb(95, 35, 107);
		background: linear-gradient(90deg, rgba(95, 35, 107, 1) 0%, rgba(237, 133, 84, 1) 100%);
	}

	.p-header-img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}

	figure {
		width: 100%;
		height: 100%;
		//overflow: hidden;

		figcaption {
			z-index: 5;
		}

		.p-header-content {
			width: 100%;
		}

		h1 {
			font-weight: bold;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.p-header-white {
	background-color: $white;
}

.p-header-light {
	background-color: $light;
}