.wp-block-image {
    display: flex;
    img {
        max-width: 100%;
        height: auto;
    }
    margin-bottom: 0;

    &.is-style-full{
        width: 100%;
        height: auto;
        div{
            width: 100% !important;
            height: auto;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

figure.wp-block-image:not(.wp-block){
    margin: initial;
}