/*
 * HEADER
 */

.c-parallax {
	position: relative;
	display: flex; 
	align-items: center;
	justify-content: center;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;

	-webkit-overflow-scrolling: touch;
	background-attachment: scroll;

	@include media-query('lg'){
		background-attachment: fixed;
	}

	&.c-parallax-wrapper {
		overflow: hidden;

		&.c-parallax-wrapper-xs {
			min-height: 200px;
		}

		&.c-parallax-wrapper-s {
			min-height: 300px;
		}

		&.c-parallax-wrapper-m {
			min-height: 400px;
		}

		&.c-parallax-wrapper-l {
			min-height: 600px;
		}
	}

	&.c-parallax-white {
		background-color: $white;
	}

	&.c-parallax-light {
		background-color: $light;
	}

	&.c-parallax-primary {
		background-color: $primary;
	}

	&.c-parallax-secondary {
		background-color: $secondary;
	}

	&.c-parallax-tertiary {
		background-color: $tertiary;
	}

	&.c-parallax-quarternary {
		background-color: $quarternary;
	}

	&.c-parallax-primary-secondary {
		background: rgb(242, 47, 106);
		background: linear-gradient(90deg, rgba(242, 47, 106, 1) 0%, rgba(255, 194, 76, 1) 100%);
	}

	&.c-parallax-secondary-primary {
		background: rgb(255, 194, 76);
		background: linear-gradient(90deg, rgba(255, 194, 76, 1) 0%, rgba(242, 47, 106, 1) 100%);
	}

	&.c-parallax-tertiary-quarternary {
		background: rgb(237, 133, 84);
		background: linear-gradient(90deg, rgba(237, 133, 84, 1) 0%, rgba(95, 35, 107, 1) 100%);
	}

	&.c-parallax-quarternary-tertiary {
		background: rgb(95, 35, 107);
		background: linear-gradient(90deg, rgba(95, 35, 107, 1) 0%, rgba(237, 133, 84, 1) 100%);
	}
}

.c-parallax-white {
	background-color: $white;
}

.c-parallax-light {
	background-color: $light;
}
