.wp-block-separator{
    max-width: 400px;
    margin: 0 auto;
    height: 2px;
    background-color: $dark;
}

.block-editor-block-list__layout{
    .wp-block-separator{
        max-width: 400px;
        margin: 0 auto;
        height: 2px;
        background-color: $dark;
    }
}