.block-editor-block-list__layout {
    .wp-block-kleurcode-core-tabs {
        padding: 20px;
        border: 1px solid $grey;
        .block-editor-inner-blocks {
            .block-editor-block-list__layout {
                > [data-type="kleurcode-core/tab"] {
                    padding: 20px;
                    border: 1px solid $dark;
                    &:not(:first-child) {
                        display: none; 
                    }
                }
            } 
        }
    }
}
 
.wp-block-kleurcode-core-tabs{  
    .c-tab-nav{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media-query(xl){
            flex-direction: row;
        }
        
        .c-tab-nav-item{

            padding: 1rem 1.5rem;
            @include interpolate(font-size, map-get($breakpoints, xs), map-get($breakpoints, xl), 1rem, 1.1rem); 
            font-weight: bold;
            background-color: $light;
            transition: all 0.3s ease-out;

            &.active, &:hover{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $primary;
                color: $white;
            }
        }
    } 
    .c-tab-content{
        .wp-block-kleurcode-core-tab{
            display: none;
            padding: 2rem;
            border: 1px solid lighten($primary, 20%);
            border-radius: $border-radius;
            &.active{
                display: block;
            }
        }
    }
}