.wp-block-kleurcode-core-title-text {
    
    h1 {
        position: relative;
        z-index: 5;

        &:before {
            content: "";
            position: absolute;
            width: 80%;
            height: 100%;
            right: 0;
            background-color: lighten($primary, 25%);
            display: block;
            z-index: -1;
        }

        &:after {
            content: none;
        }
    }

    @include media-query(lg) {
        display: flex;
        align-items: center;

        > *:first-child {
            width: 33.3333;
            margin-right: 1.5em;
        }
        > *:last-child {
            margin-left: 8.33333%;
            width: 62%;
        }
    }
}
