.has-text-align-center {
    text-align: center;
}

.is-content-justification-center {
    justify-content: center;
}

.is-vertically-aligned-center {
    align-items: center;
}

.block-editor-block-list__layout {
    .wp-block-kleurcode-core-animation {
        border: 2px solid $dark;
        padding: 2rem;
    }
}

.aligncenter{
    clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.has-medium-font-size{
    font-size: 1.6rem;
}