/* ------------------------------------------------------------
--------------------- TEXT ELEMENTS STYLING --------------------
------------------------------------------------------------ */

p{
  margin-bottom: 1rem;
  font-display: fallback;
  &.g-container{
    margin-bottom: 1rem;
  }
}

.e-text-container{

  ul{
    li{
      margin-left:1.5em;
      position:relative;
      &:before {
        content: "•";
        font-size:25px;
        color: red;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        margin-top:10px;
      }
      }
  }

  a{
    text-decoration: underline;
    font-weight:bold;
  }
}



.e-text-left {
  text-align: left;

  @each $bp in map-keys($breakpoints) { 
      @include media-query($bp) {
          &-#{$bp} {
              text-align: left !important;
          }
      }
  }
}

.e-text-right {
  text-align: right;

  @each $bp in map-keys($breakpoints) {
      @include media-query($bp) {
          &-#{$bp} {
              text-align: right !important;
          }
      }
  }
}

.e-text-center {
  text-align: center;

  @each $bp in map-keys($breakpoints) {
      @include media-query($bp) {
          &-#{$bp} {
              text-align: center !important;
          }
      }
  }
}